html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
  color: #222;
}

*::selection {
  background-color: #222;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
}

p,
li {
  line-height: 1.5;
}

a {
  color: #222;
}

a:hover,
a:focus {
  font-weight: 700;
}

ul li:not(:last-child) {
  margin-bottom: 10px;
}

.button {
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "IBM Plex Mono";
  text-decoration: none;
  min-width: 200px;
  text-align: center;
  margin: 0 auto;
}

.button--primary {
  background: #222;
  color: #fff;
}

.button--primary:hover {
  background: #333;
}

.button--primary:active {
  background: #000;
}

.button--secondary {
  background: none;
  border: 1px solid #222;
}

.button--secondary:hover {
  background: #222;
  color: #fff;
}

/* maintenance */
.maintenance {
  padding-top: 40px;
  padding-left: 40px;
  text-transform: uppercase;
}

.maintenance h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.maintenance h2 {
  margin-bottom: 2rem;
}

.maintenance .heading-space {
  font-size: 1rem;
}

.maintenance span {
  line-height: 1.1;
}

.no-caps {
  text-transform: none;
}

@media screen and (max-width: 787px) {
  .maintenance {
    padding-top: 20px;
    padding-left: 20px;
  }
}

/*      Home Page      */
.bio {
  width: 759px;
  margin: 0 auto;
  margin-top: 180px;
  margin-bottom: 112px;
  text-transform: uppercase;
}

.heading-space {
  font-size: 1rem;
}

.bio .info-container {
  /* padding-left: 200px; */
}

.bio h1 {
  font-size: 2.4rem;
  margin-bottom: 14px;
  text-align: center;
}

.bio h2 {
  line-height: 1.5;
  width: 70px;
  text-align: right;
  text-transform: none;
}

.bio ul li:not(:last-child) {
  margin-bottom: 0px;
}

.bio a {
  line-height: 1.5;
}

.bio p,
.bio a,
.bio li {
  width: 375px;
  font-weight: 500;
  max-width: calc(100vw - 21px);
}

.project-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.project-link {
  width: 759px;
  text-decoration: none;
}

.project-link:hover h2 {
  text-decoration: underline;
}

.project-link img {
  width: 100%;
  border: 1px solid #222;
  margin-bottom: 14px;
}

.project-link h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 7px;
}

.project-link p {
  max-width: 380px;
}

.project-link:hover p {
  font-weight: 400;
}

.thankyou {
  width: 759px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 28px;
  font-weight: 500;
}

.contact-links {
  margin-bottom: 14px;
}

.built-with {
  color: #595959;
  font-size: 10px;
}

/*------------------- Project Pages --------------------*/

.close-project {
  text-transform: uppercase;
  text-decoration: none;
  position: fixed;
  top: 28px;
  left: 56px;
}

.project h1 {
  margin-top: 112px;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 28px;
}

.project h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 14px;
  text-align: center;
}

.project h3,
.project h4 {
  font-weight: 700;
}

.project h4 {
  margin-bottom: 7px;
}

.project p,
.project li {
  width: 480px;
  text-align: justify;
}

.project section {
  padding-top: 28px;
  padding-bottom: 28px;
}

.main-project-image {
  width: 759px;
  margin: 0 auto;
}

.main-project-image img {
  width: 100%;
  border: 1px solid #222;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  gap: 14px;
  margin-left: -84px;
}

.info-container .info:not(:last-child) {
  margin-bottom: 28px;
}

section .headerless-info:not(:last-child) {
  margin-bottom: 28px;
}

.info h3 {
  line-height: 1.5;
  width: 70px;
  text-align: right;
}

.headerless-info {
  margin: 0 auto;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.box {
  display: flex;
}

.box h3 {
  font-size: 2.2rem;
}

.box img {
  max-width: 220px;
}

.box__heading {
  border: 1px solid #222;
  padding: 14px;
  border-right: none;
  min-width: 93px;
}

.box__info__section {
  border: 1px solid #222;
  padding: 28px 14px;
}

.box__info__section:nth-of-type(1),
.box__info__section:nth-of-type(2) {
  border-bottom: none;
}

.box__info__section p:not(:last-child) {
  margin-bottom: 5px;
}

.competitive-audit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.competitive-audit-container h3 {
  font-size: 1.2rem;
}

.competitive-audit-container .box__info__section {
  padding: 14px;
}

.sketches,
.userflow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userflow img {
  max-width: calc(100% - 28px);
}

.mockups {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.sketches img,
.mockups img {
  width: 759px;
  max-width: calc(100% - 28px);
}

.mockups img {
  border: 1px solid #222;
}

.mockups .button {
  margin-top: -14px;
  margin-bottom: 14px;
}

.mockups .headerless-info {
  margin-top: -14px;
  margin-bottom: 14px !important;
}

.prototype__sitemap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prototype__sitemap img {
  width: 424px;
  max-width: calc(100vw - 28px);
}

.prototype__sitemap .sdam-sm-img {
  width: 300px;
}

.next-steps li {
  margin: 0 auto;
}

.next-study {
  display: flex;
  gap: 14px;
  flex-direction: column;
  align-items: center;
}

/*--------------- BREAKPOINTS ---------------*/
@media screen and (max-width: 787px) {
  .bio,
  .thankyou {
    padding-left: 14px;
    padding-right: 14px;
    width: auto;
    max-width: 100%;
  }

  .bio .info-container {
    padding-left: 100px;
  }

  .project-link,
  .main-project-image {
    width: calc(100% - 28px);
  }

  .box {
    flex-direction: column;
  }

  .box__heading {
    border-right: 1px solid #222;
    border-bottom: none;
  }

  .close-project-banner {
    width: 100%;
    height: 44px;
    position: fixed;
    top: 0;
    padding-left: 14px;
    background: #fff;
  }

  .close-project {
    position: static;
    line-height: 44px;
  }
}

@media screen and (max-width: 582px) {
  .bio {
    margin-top: 56px;
    margin-bottom: 56px;
  }

  .bio h1 {
    text-align: left;
  }

  .bio h2 {
    text-align: left;
  }

  .bio .info-container {
    padding-left: 0px;
  }

  .bio .info-container .info:not(:last-child) {
    margin-bottom: 14px;
  }

  .close-project {
    top: 28px;
    left: 14px;
  }

  .info-container {
    align-items: baseline;
  }

  .info {
    flex-direction: column;
    gap: 7px;
    margin-left: 0;
  }

  .info h3 {
    text-align: left;
  }

  .project p,
  .project li {
    width: auto;
    text-align: left;
  }

  .box li {
    width: calc(100vw - 56px);
  }

  .project section {
    padding-left: 14px;
    padding-right: 14px;
  }

  .sketches img,
  .mockups img {
    max-width: 100%;
  }
}
